<!DOCTYPE html>
<html>
    <body>
        <h1>Cat</h1>
        <h3>Get pranked! This is no cat.</h3>
        
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg" width=600></img>
        
        <hr><br>
        <a href="/">home</a>
    </body>
</html>