<html>
    <body>
        <h1>COOKIE YUM</h1>
        <h3>Visit #{{visit_number}}</h3>
        
        <ul>
            <li>
                <a href='/cookie_demo'>Refresh</a>
            </li>
            
            <li>
                <a href='cookie_demo?reset=ant'>Restart</a>
            </li>
        </ul>
        
        
        <br><hr>
        <a href='/'>home</a>
    </body>
</html>
