<!DOCTYPE html>
<html>
    <body>
        <h1>Dog-Cat-Fish</h1>
        
        <img src="https://cdn.mos.cms.futurecdn.net/4UdEs7tTKwLJbxZPUYR3hF-1200-80.jpg" width=600></img>
        
        <hr><br>
        <a href="/">home</a>
    </body>
</html>