<!DOCTYPE html>

<html>

<body>

    <h1>JJ Sandhu's Web Launcher</h1>
    <h2>Welcome Dr. Torbert</h2>

    <ul>
        <li><a href="./jury">Jury Duty Information</a></li>
        <li>Page</li>
            <ul>
        
                <li>
                    <a href = "./dog">dog
                    </a>
                </li>
                <li>
                    <a href = "./cat">cat
                    </a>
                </li>
                <li>
                    <a href = "./fish">fish
                    </a>
                </li>
            </ul>
        
        <li>Query</li>
            <ul>
                <li>
                    <a href = "./dog1">dog
                    </a>
                </li>
                <li>
                    <a href = "./cat1">cat
                    </a>
                </li>
                <li>
                    <a href = "./fish1">fish
                    </a>
                </li>
            </ul>
        
        </li><li>  <a href = "./facts">Facts About</a>
        
        
        
        </li><li>  <a href = "./apod">APOD/NASA</a>
        

        
        </li><li>  <a href = "./weather">Weather
                </a>
        

        </li><li>  <a href = "./cookie_demo">Cookies</a>
        </li><li>  <a href = "./ionauth">Ion Authentication</a>
        

    
    </ul>
    
    <br />
    <hr />
    <i> {{month}} {{year}}</i>

</body>

</html>