<!DOCTYPE html>
<html>
    <head>
	    <title>Cookies, Ion Auth</title>
    </head>
    <body>
        <p>Hello {{yourname}}, Visit #{{visitor}}!</p>
        <ul>
            <li>
                <a href='/ionauth'>Reload</a>
            </li>
            <li>
                <a href='ionauth?reset=ant'>Reset</a>
            </li>
            <li>
                <a href={{myurl}}>{{urltext}}</a>
            </li>
        </ul>
         <a href="/">Home</a>
    </body>
</html>