<!DOCTYPE html>
<html>
<head>
  <title>Jury Duty HBS Demo</title>
</head>

<body>
  <h1>Jury Duty</h1>
  <nav>
    <ul>
      <li><a href="#Tedious">Tedious</a></li>
      <li><a href="#CivicDuty">Civic Duty</a></li>
      <li><a href="#Media">Don't Skip Jury Duty</a></li>
    </ul>
  </nav>
  <pre> </pre>
  <div id="Tedious">
    <h2>Jury Duty is Tedious</h2>
    <p>Jury Duty is synonymous with long hours, days, and even weeks taken to perform your <em>civic duty</em>. The task is sometimes quite mundane.</p>
    <a href="https://en.wikipedia.org/wiki/Jury_duty" target="_blank">Learn More</a>
    <h3>Types of Jury Duty</h3>
    <ul>
      <li>Trial Juries</li>
      <li>Petit Juries</li>
      <li>Grand Juries</li>
    </ul>
  </div>
  <pre> </pre>
  <div id="CivicDuty">
    <h2>Jury Duty is a Civic Duty</h2>
    <h3>Although the task may be extremely boring, it is a civic duty for American citizens that helps uphold our democracy. Below is a list of some nations that don't/didn't have Jury Duty.</h3>
    <ol>
      <li>North Korea</li>
      <li>USSR (<em>Gone</em>)</li>
      <li>China</li>
    </ol>
    <h3>Countries with Jury Duty</h3>
    <p>Some countries with Jury Duty include America, Brazil, Argentina, Norway, and more.</p>
  </div>
  <pre> </pre>
  <div id="Media">
    <h2>Don't Skip Jury Duty</h2>
    <img loading="lazy" aria-describedby="caption-attachment-16653" data-attachment-id="16653" data-permalink="https://nowdontgetmewrong.com/2017/04/23/16643/jury-duty-book/#main" data-orig-file="https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg" data-orig-size="600,825" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="jury duty book" data-image-description="" data-medium-file="https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=218" data-large-file="https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=600" class="aligncenter size-medium wp-image-16653" src="https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=218&amp;h=300" alt="jury duty book" width="218" height="300" srcset="https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=218&amp;h=300 218w, https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=436&amp;h=600 436w, https://nowdontgetmewrong.files.wordpress.com/2017/04/jury-duty-book.jpg?w=109&amp;h=150 109w" sizes="(max-width: 218px) 100vw, 218px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3lefywUZcWQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

</html>
