<!DOCTYPE html>
<html>
<body>
<h2>Weather</h2>
<form action="/weather" method="GET">
    <label>Latitude:</label>
    <input type="text" name="lat" id="lat" value="38.627" >
    <label>Longitude:</label>
    <input type="text" name="long" id="long" value="-90.1994" >
    <button>Update</button>
</form>
<a href="/">home</a>
<br />
<hr />
<i>{{month}} {{year}}</i>
</body>
</html>